{% load static %}
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title">
        <h2>Portfolio</h2>
        <p>My Works</p>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            {% for category in categories %}
            <li data-filter=".filter-{{category.name}}">{{category.name}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="row portfolio-container">
        
        {% for project in projects %}
        <div class="col-lg-4 col-md-6 portfolio-item filter-{{project.category.name}}">
          <div class="portfolio-wrap">
            <img src="{{project.get_image_url}}" class="img-fluid" alt="{{project.get_image_url}}">
            <div class="portfolio-info">
              <h4>{{project.name}}</h4>
              <p>{{project.short_desc}}</p>
              <div class="portfolio-links">
                <a href="{{project.get_image_url}}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{project.name}}"><i class="bx bx-plus"></i></a>
                <a href="{% url 'home:project_detail' project.pk %}" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>

    </div>
  </section><!-- End Portfolio Section -->
